aiodns==2.0.0
aiohttp==3.6.2
astroid==2.3.1
async-timeout==3.0.1
attrs==19.1.0
audioread==2.1.8
beautifulsoup4==4.8.1
browsermob-proxy==0.8.0
bs4==0.0.1
certifi==2019.9.11
cffi==1.14.2
cfscrape==2.1.1
chardet==3.0.4
Click==7.0
cloudscraper==1.2.40
colorama==0.4.1
decorator==4.4.0
Django==2.2.6
django-proxy==1.2.1
django-proxy-server==0.6
django-rest-framework==0.1.0
djangorestframework==3.10.3
facebook-sdk==3.1.0
fake-useragent==0.1.11
ffmpeg-python==0.2.0
Flask==1.1.1
future==0.18.2
geoip2==2.9.0
html5lib==1.0.1
idna==2.8
imageio==2.8.0
imageio-ffmpeg==0.3.0
importlib-metadata==0.23
IP2Proxy==2.1.0
iso8601==0.1.12
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.1.1
jwplatform==1.2.2
lazy-object-proxy==1.4.2
lxml==4.5.0
m3u8==0.6.0
MarkupSafe==1.1.1
maxminddb==1.5.1
mccabe==0.6.1
mechanize==0.4.5
more-itertools==7.2.0
moviepy==1.0.2
multidict==4.7.6
Naked==0.1.31
netaddr==0.7.19
numpy==1.18.3
pafy==0.5.5
Pillow==7.1.1
proglog==0.1.9
pycares==3.1.1
pycparser==2.20
pycryptodome==3.9.7
pylint==2.4.2
pyparsing==2.4.7
pyrsistent==0.15.4
PySocks==1.7.1
pytz==2019.3
PyYAML==5.3.1
query-string==2019.4.13

requests==2.22.0
requests-toolbelt==0.9.1
selenium==3.141.0
selenium-wire==1.0.10
shellescape==3.8.1
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
tqdm==4.45.0
urllib3==1.25.6
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
yarl==1.5.1
youtube-dl==2020.6.6
zipp==0.6.0
